table {
	id	id
	n1	numeric
	n2	numeric
	n3	numeric
	n4	numeric
	d1	category	dummy(null="ignore",drop=False,dtype=np.float)
	d2	category	dummy()
	d3	category	dummy()
	i1	category  dummy()
	i2	category	dummy()
	class	category	class()
}

transaction {
	id   : id()
	item : item()
}

transaction {
	id   : id()
	item : item()
}

sequence {
	id:id()
	time:seq(numeric)
	item:item()
}

sequence {
	id:id()
	time:seq(numeric)
	item:item()
}

